<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="formulario" class="p-1">
			<div class="pb-2 d-block d-md-none">
				<h3 class="border-bottom">Cadastro de Usuário</h3>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label>Primeiro Nome</label>
					<input
						formControlName="primeiroNome"
						type="text"
						class="form-control"
						[ngClass]="{'is-invalid': validarFormulario('primeiroNome')}"
						placeholder="Insira o Primeiro nome" />
					<div class="invalid-feedback">
						{{ mensagemValidacaoFormulario('primeiroNome', 0, 0, 'Primeiro Nome') }}
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label>Último nome</label>
					<input
						formControlName="ultimoNome"
						type="text"
						class="form-control"
						[ngClass]="{'is-invalid': validarFormulario('ultimoNome')}"
						placeholder="Insira o Último nome" />
					<div class="invalid-feedback">
						{{ mensagemValidacaoFormulario('ultimoNome', 0, 0, 'Último nome') }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="">Email:</label>
				<input
					formControlName="email"
					class="form-control"
					[ngClass]="{'is-invalid': validarFormulario('email')}"
					type="text"
					placeholder="Insira o Nome Completo" />
				<div class="invalid-feedback">
					{{ mensagemValidacaoFormulario('email', 0, 0) }}
				</div>
			</div>
			<div class="form-group">
				<label for="">Usuario:</label>
				<input
					formControlName="userName"
					class="form-control"
					[ngClass]="{'is-invalid': validarFormulario('userName')}"
					type="text"
					placeholder="Insira o nome de Usuário" />
				<div class="invalid-feedback">
					{{ mensagemValidacaoFormulario('userName', 0, 0, 'Usuario') }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="">Senha:</label>
					<input
						formControlName="senha"
						class="form-control"
						[ngClass]="{'is-invalid': validarFormulario('senha')}"
						type="password"
						placeholder="Digite uma Senha" />
					<div class="invalid-feedback">
						{{ mensagemValidacaoFormulario('senha', 6, 0) }}
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label for="">Confirmar Senha:</label>
					<input
						formControlName="confirmeSenha"
						class="form-control"
						[ngClass]="{'is-invalid': validarFormulario('confirmeSenha')}"
						type="password"
						placeholder="Confirme a Senha" />
					<div class="invalid-feedback">
						{{ mensagemValidacaoFormulario('confirmeSenha', 6, 0, 'Confirmar Senha') }}
					</div>
				</div>
			</div>
			<div class="form-row p-1 mb-3">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck1">
					<label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<button class="btn btn-lg btn-success btn-block px-5">
						Registar
					</button>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<a class="btn btn-link btn-block">
						Já sou Cadastrado
					</a>
				</div>
			</div>
		</form>

	</div>
</div>