/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "~@fortawesome//fontawesome-free/css/all.min.css";

@import "~bootswatch/dist/cosmo/variables";
@import "~bootswatch/dist/cosmo/bootswatch";
@import "~bootswatch/dist/cosmo/bootstrap.min.css";

.img-64 {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}
