<app-titulo
    [titulo]="'Perfil'"
    [subtitulo]="'Gerenciar seu perfil'"
    [iconClass]="'fa fa-user-edit'"
    [botaoListar]="false"
></app-titulo>

<div class="card rounded shadow-sm">
	<form [formGroup]="formulario">
		<div class="row p-3">
			<div class="col-lg-3 pt-1">
				<div class="card mb-3">
					<div class="card-header"></div>
					<div class="d-flex align-self-center pt-3">
						<a>
							<img
							src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
							name="aboutme" width="120" height="120" class="rounded-circle">
						</a>
					</div>
					<div class="card-body">
						<div class="h4 text-center mb-3">@UserName</div>
						<div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
						<div class="h7">
							Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
							etc.
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
								<div class="col-6 text-center border-right">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Ministrados</div>
								</div>
								<div class="col-6 text-center">
									<div class="h5">1342</div>
									<div class="h6 text-muted">Eventos Participados</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="form-row">
					<div class="form-group col-12">
						<h3 class="border-bottom">Detalhe Perfil</h3>
					</div>
					<div class="form-group col">
						<label>Título</label>
						<select 
							formControlName="titulo"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('titulo')}"
						>
							<option value=""></option>
							<option value="0">Não Quero</option>
							<option value="1">Tecnólogo(a)</option>
							<option value="2">Bacharel</option>
							<option value="3">Especialista</option>
							<option value="4">Pós Graduado(a)</option>
							<option value="5">Mestre</option>
							<option value="6">Doutor(a)</option>
							<option value="7">Pós Doc</option>
						</select>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('primeiroNome', 0, 0, 'Título') }}
						</div>						
					</div>
					<div class="form-group col-sm-5">
						<label>Primeiro Nome</label>
						<input
							formControlName="primeiroNome"
							type="text"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('primeiroNome')}"/>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('primeiroNome', 0, 0, 'Primeiro Nome') }}
						</div>
						
					</div>
					<div class="form-group col-sm-5">
						<label>Último nome</label>
						<input
							formControlName="ultimoNome"
							type="text"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('ultimoNome')}"/>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('ultimoNome', 0, 0, 'Último nome') }}
						</div>
						
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-5">
						<label>E-mail</label>
						<input
							formControlName="email"
							type="text"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('email')}"/>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('email', 0, 0) }}
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label>Telefone</label>
						<input
							formControlName="telefone"
							type="text"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('telefone')}"/>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('telefone', 0, 0) }}
						</div>
					</div>
					<div class="form-group col-sm">
						<label>Função</label>
						<select
							formControlName="funcao"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('funcao')}">
							<option value=""></option>
							<option value="participante">Participante</option>
							<option value="palestrante">Palestrante</option>
						</select>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('funcao', 0, 0, 'Função') }}
						</div>
					</div>
					<form-group class="col-12">
						<label>Descrição</label>
						<input
							formControlName="descricao"
							type="text"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('descricao')}"/>
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('descricao', 0, 0, 'Descrição') }}
						</div>
					</form-group>
				</div>
				<div>
					<h3 class="pt-3 border-bottom">Mudar Senha</h3>
					<p>Caso mude de senha, preencha os campos abaixo:</p>
				</div>
				<div class="form-row">
					<div class="form-group col-sm">
						<label>Senha</label>
						<input
							formControlName="senha"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('senha')}"
							type="password"
							placeholder="Confirme a Senha" />
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('senha', 6, 0) }}
						</div>
					</div>
					<div class="form-group col-sm">
						<label>Confirmar Senha</label>
						<input
							formControlName="confirmeSenha"
							class="form-control"
							[ngClass]="{'is-invalid': validarFormulario('confirmeSenha')}"
							type="password"
							placeholder="Confirme a Senha" />
						<div class="invalid-feedback">
							{{ mensagemValidacaoFormulario('confirmeSenha', 6, 0, 'Confirmar Senha') }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex">
				<button class="btn btn-outline-secondary mr-auto border">
					Cancelar Alteração
				</button>
				<button class="btn btn-success">
					<span class="spinner-border spinner-border-sm mr-1"></span>
					Salvar Alteração
				</button>
			</div>
		</div>
	</form>
</div>